.hero,
.footer {
    background: #1F2937;
    color: #F9FAF8;
}

.container {
    padding: 0 100px;
}

.header .container {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .container {
    padding: 100px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.main .content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main .content h1 {
    font-size: 48px;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

.main .content p {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.main .content button {
    align-self: flex-start;
    margin-top: 10px;
    padding: 5px 25px;
    border-radius: 10px;
}

.main img {
    flex: 1;
    text-align: center;
    line-height: 175px;
    background: grey;
}

.header .logo {
    font-size: 24px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 18px;
}






button,
.action-time {
    background: #3882F6;
    color: #F9FAF8;
}


a:hover {
    color: #3882F6;
}

button a:hover{
    color: #1F2937
}

.information .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes {
    display: flex;
}

.quote .container {
    background: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
}

.quote .testomonial {
    font-size: 36px;
    font-style: light italic;
}

.quote .signature {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
}

.action-time .container {
    display: flex;
}

.footer {
    text-align: center;
}