@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #F9FAF8;

/************ set spacing for each major section ********************/
    display: flex;                          
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background: #1F2937;
    flex: 0 0 60px;
}

.hero {
    background: #1F2937;
    flex: 1 0 500px;
}

.information {
    flex: 1 0 525px;  
}

.quote {
    flex: 1 0 440px;
    background: #E5E7EB;
}

.action-time {
    flex: 1 0 365px;
}

.footer {
    background: #1F2937;
    flex: 0 0 110px;
}

/*********** center main containers in each major section ****************/

.header,
.hero,
.information,
.quote,
.action-time,
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/********** set space-between container width ***************************/

.header .container,
.hero .container,
.action-time .container {
    flex: 0 1 1025px;
    flex-wrap: wrap;
}

/*********************************** buttons and links ********************/

a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 18px;
}

button {
    font-weight: 600px;
    background: #3882F6;
    margin-top: 10px;
    padding: 5px 25px;
    border-radius: 10px;
}

a:hover {
    color: #3882F6;
}

button a:hover{
    color: #1F2937
}

/*********************************** header ******************************************/

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header .logo {
    font-size: 24px;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
}


/*********************************** hero ******************************************/

.hero .container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.hero .container .content {
    flex-basis: 450px;
    display: flex;
    flex-direction: column;
}

.hero .container .content h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero .container .content p {
    font-size: 18px;
}

.hero .container .content button {
    align-self: flex-start;
    border-color: #1F2937;
}

.hero .container img {
    text-align: center;
    background: grey;
    height: 215px;
    width: 520px;
}

/*********************************** information ******************************************/

.information .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    color: #1F2937;
}

.information .container h2 {
    font-size: 36px;
    font-weight: 800;
}

.information .container .boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.information .box {
    flex-basis: 175px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.information .box img {
    height: 175px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 8px;
}

.information .box p {
    font-size: 18px;
}

/*********************************** quote ******************************************/

.quote .container {
    flex: 0 0 825px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #1F2937;
}

.quote .testomonial {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote .signature {
    padding: 0 50px;
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
}

/*********************************** action-time ******************************************/


.action-time .container {
    padding: 50px 80px;
    background: #3882F6;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-time .text p {
    font-size: 18px;

}

.action-time button {
    border-style: solid;
    border-color:#E5E7EB;
}

/*********************************** footer ******************************************/

.footer .container p {
    font-size: 18px;
}



